
.metadata/.plugins/org.eclipse.core.resources/.history/29/70628c88766e001b1d10b229b61da131
.metadata/.plugins/org.eclipse.core.resources/.history/42/30b7f760786e001b1d10b229b61da131
.metadata/.plugins/org.eclipse.core.resources/.history/67/90602bc5776e001b1d10b229b61da131
.metadata/.plugins/org.eclipse.core.resources/.history/a/20b4e0d1776e001b1d10b229b61da131
.metadata/.plugins/org.eclipse.core.resources/.history/d2/007526fa776e001b1d10b229b61da131
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloFX/.markers.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloFX/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloFX/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
HelloFX/bin/hw03/DealKim$Suitcase.class
